* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3367D6;
}

p {
  font-size: 17px;
}

.faq_container {
  width: 100%;
  padding: 50px 265px 0 265px;
}
.faq_container > h2 {
  margin-bottom: 30px;
}
